.img {
  border-radius: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 0.6rem;
  margin: 1.5rem;
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 2px gray;
}

.box div {
  display: flex;
  justify-content: space-between;
}
.box:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 2px gray;
}

.name {
  border-top: 1px solid gray;
  font-size: 1.4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.price {
  font-size: 1.1rem;
}
.desc {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.box p {
  margin: 0%;
}
